@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=B612+Mono|Open+Sans&display=swap');

:root {
    --color-fuente-principal: white;
    --borde-principal: 1px solid rgba(0, 0, 0, 0.3);
}

*{
    box-sizing: border-box;
}

html {
    background: aquamarine url("../img/backgrounds/background-XL.jpg") center center / cover no-repeat fixed;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-fuente-principal);
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
}

#navbar header,
#main-doc section header h2 {
    color: rgba(201, 201, 201, 0.8);
    font-variant: small-caps;
}

#navbar header {
    text-align: center;
}

#navbar ul {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#navbar li {
    color: var(--color-fuente-principal);
    list-style: none;
}

#navbar a {
    font-variant: small-caps;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    color: var(--color-fuente-principal);
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}

#navbar a:hover {
    color: hsl(180, 50%, 40%);    
}

#main-doc {
    position: relative;
    margin: 10px;
    margin-left: 310px;
    padding: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}

#main-doc > section header h2 {
    transition: all ease 1s;
}

#main-doc > section:target header h2 {
    color: hsl(180, 50%, 40%);
}

section article {
    color: var(--color-fuente-principal);
    margin: 15px;
}

#main-doc article p {
    text-indent: 1rem;
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
}

section li {
    margin: 15px 0px 0px 20px;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    font-family: 'B612 Mono', monospace;
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    line-height: 2;
    background-color: rgba(247, 247, 247, 0.5);
    padding: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 815px) {
    html {
        background-image: url("../img/backgrounds/background-MD.jpg");
        height: 100vh;
        overflow-x: hidden;
    }

    body {
        font-size: small;
    }

    #main-doc {
        border-left: none;
    }
    
    #navbar {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        border: none;
        z-index: 1;
    }

    #navbar a {
        padding: 0;
    }
    
    #navbar ul {
        display: flex;
        justify-content: space-between;
    }

    #navbar li,
    #navbar li:last-child {
        border: none;
    }

    #main-doc {
      margin-left: 0px;
      margin-top: 100px;
    }

    section li {
        margin: 0;
        padding: 0;
    }
  }
  
  @media only screen and (max-width: 400px) { 
    html {
        background-image: url("../img/backgrounds/background-SM.jpg");
    }

    #main-doc section article ul {
        padding-left: 3px;
    }
  }